<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/851fe875-8b4a-49ff-b6d9-540d7255c9ff/resourceGroups/NetworkServiceCatalog/providers/Microsoft.Web/sites/NetworkServiceCatalog</ResourceId>
    <ResourceGroup>NetworkServiceCatalog</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://networkservicecatalog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0f6cc9a3-c17f-4f37-8c6f-86d980fcaae6</ProjectGuid>
    <PublishUrl>https://networkservicecatalog.scm.azurewebsites.net/</PublishUrl>
    <UserName>$NetworkServiceCatalog</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>