<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container d-flex justify-content-between align-items-center">
                <div>
                    <img class="top-logo" src="/logo.png" />
                    <a class="navbar-brand">@* RJC *@ Services Portal</a>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul>
                    <span class="navbar-text right actions">
                        Hello, @*Display Login Email Here*@ &nbsp;
                        <a href="MicrosoftIdentity/Account/SignOut" class="loginButton">Log out</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

